<%- include("./header.ejs") %>
<div class="container my-5 shadow py-5 px-5">
    <div class="text-center">
        <h1 class="text-bold"><span class="text-danger">404</span> <%- message %></h1>
    </div>
</div>